body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

/* Partie navbar */

.mainContainerNavbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding: 0px;
}

.btnSign{
    cursor:pointer;
    background-color: lightgray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    height: 50px;
    border-radius: 10px;

}

.btnSign:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
}




/* Partie Produits */

.sectionProduit {
    margin-top: 50px;
}

.mainContainerProduit{
    display: flex;
    justify-content: space-around;
}
.container{
    /*
    height: 300px;
    width: 150px;
    */
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

p{
    color:white;
}